body {
    font-family: sans-serif;
    background: url("material/background/4_images.png");
    color: white;
    text-align: center;
}

#word {
    font-size: 50px;
    margin: 20px;
}

.correct { color: blue; }
.remaining { color: rgb(255, 255, 255); }
.miss{ color: rgb(255, 0, 0); }

#status {
    margin-top: 10px;
    font-size: 35px;
}

.word {
    position: absolute;
    /* 親（.gameArea）を基準に自由に配置 */
    top: 80px;
    /* 上から80pxの位置 */
    left: 800px;
    /* 右端の外側からスタート（横幅と同じ値） */
    font-size: 32px;
    white-space: nowrap;
    /* 改行させず横一列に表示 */
}

.input {
    margin-top: 20px;
    font-size: 24px;
    padding: 10px;
    width: 400px;
}

.info {
    margin-top: 20px;
}

/* コーヒーカップ 表示エリア */
#caffeineCups {
    display: flex;          /* 横並び */
    gap: 5px;               /* 間隔 */
    
    position: fixed;        /* 画面に固定 */
    bottom: 50px;           /* 画面下から50px */
    left: 10%;              /* 横中央に配置 */
    z-index: 1000;          /* 他の要素より前に表示 */
}

/* カップ */
.cup {
    width: 100px;
    height: 100px;
    opacity: 0;
}

/* 表示 */
.cup.active {
    opacity: 1;
}

/*  強制終了飛来エフェクト　*/

#forceHit {
    position: fixed;
    top: 50%;
    left: -200px;

    width: 180px;
    height: 180px;

    transform: translateY(-50%);     /* 要素をY軸（縦方向）に-50%移動 */
    transform-origin: center;

    z-index: 9999;
    display: none;

    background-size: contain;        /* 画像全体が要素内に収まるように拡大・縮小する*/
    background-repeat: no-repeat;    /* 背景画像を繰り返し表示しない */
    background-position: center;     /* 背景画像を要素の中央に配置する*/
}

#forceHit.active {
    display: block;
    animation: flyHit 0.25s linear forwards;
}

/*  飛来アニメーション */
@keyframes flyHit {
    0% {
        left: -200px;
        transform: translateY(-50%) scale(0.8) rotate(0deg);
        /* 縦方向中央に配置しつつ、少し小さく（0.8倍）、回転なし */
    }
    70% {
        left: 40%;
        transform: translateY(-50%) scale(1.25) rotate(180deg);
        /* 少し大きく（1.25倍）しながら半回転（180度） */
    }
    100% {
        left: 45%;
        transform: translateY(-50%) scale(1.6) rotate(360deg);
         /* さらに拡大（1.6倍）しながら1回転（360度）して終了 */
    }
}

.challenge-label {
    font-size: 24px;
    margin-bottom: 12px;
    color: #a6ffea;
}
.challenge-image {
    max-width: 60%;
    max-height: 320px;
    width: auto;
    height: auto;
    border: 3px solid #ffffff;
    border-radius: 14px;
    margin: 0.8em auto;
    display: block;
    object-fit: contain;
}
.typed-feedback {
    margin-top: 12px;
    font-size: 24px;
    color: #ffffff;
    word-break: break-all;
}
.type-label {
    font-size: 24px;
    margin-bottom: 12px;
    color: #a0ffd6;
}

/* 画面揺れ（衝突演出）*/
.shake {
    animation: shake 0.25s;
}
@keyframes shake {
    0%   { transform: translate(0, 0); }
    25%  { transform: translate(-10px, 5px); }  /* 左下に少し移動 */
    50%  { transform: translate(10px, -5px); }  /* 右上に移動 */
    75%  { transform: translate(-10px, 5px); }  /* 再び左下に移動 */
    100% { transform: translate(0, 0); }
}
