body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* 上部（タイトルなど） */
.header {
    padding: 10px;
    background-color: #2196F3;
    color: white;
}

/* 投稿一覧（ここだけスクロール） */
.messages {
    overflow-y: auto;
    padding: 10px;
    background-color: #d2e4f4;
}

/* 投稿1件 */
.message {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

/* 下部（入力欄固定） */
.input-area {
    padding: 10px;
    background-color: #ddd;
    position: sticky;
    bottom: 0;
}

/* textarea */
textarea {
    width: 80%;
    height: 50px;
}

/* ボタン */
input[type="submit"] {
    padding: 8px;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: flex-end;
}